<a href='products/{{ product.id }}'>
    <div class="card-body">
        {% if product.mainImage %}
            {{ pimcore_image_thumbnail_html(product.mainImage, 'standardTeaser') }}
        {% endif %}
        <h4 class="card-title">{{ product.price }} zł</h4>
        <p class="card-text">{{ product.name | striptags | slice(0, 20) ~ '...' }}</p>

    </div>
</a>